.CommunityContainer{

    position: relative;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    padding-bottom: 250px;
    padding-top: 250px;
    grid-gap: 20px;

}

.CommunityItem{
    position: relative;
    margin-top: -400px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 40%;
    padding-right: 20px;
    margin-right: 10px;
    background: rgba(255,255,255,0.1);
    color: black;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    font-size: 1.2em;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.CommunityItem:hover{

    background: linear-gradient(whitesmoke,#e6f3ff, whitesmoke);
    color: black;
    box-shadow: 0 0 10px #2196f3, 0 0 10px #2196f3, 0 0 10px #2196f3;
    overflow: hidden;
}

.CommunityHeader{
    padding-bottom: 20px;
    font-size: 2.5em;
    color: #61dafb;
    width: 100%;
    alignment: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

#logo{

    width: 6%;
    margin-left: 15px;
}

#plus{
    width: 3%;
    margin-left: 10px;
}

.CommunityItem h2{
    margin-top: 25px;
    font-family: monospace;
    font-size: 2em;
    color: #476098;
}

.CommunityItem p{
    margin-top: 25px;
    align-content: center;
}

.CommunityItem img{
    margin-top: 20px;
    align-content: center;
}