.TokenomicsContainer{

    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    box-sizing: border-box;
}



.TokenomicsItem {
    box-sizing: border-box;
}

.PieChart{
    background: transparent;
    padding-top: 35px;
    box-sizing: border-box;
    position: relative;
    margin-right: 400px;
}

.TokenInfo {

    padding: 10px 20px 60px 30px;
    color: black;
    position: relative;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    margin-left: 10px;
    margin-right: 30%;

    margin-top: 35px;

}

.TokenInfo:hover{
    background: linear-gradient(transparent,#e6f3ff, whitesmoke);
    color: black;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 40px #2196f3 ;
}

.TokenInfo h1 {

    padding-top: 20px;
    font-size: 2.5em;
    z-index: -1;
    font-weight: bold;
    color: #476098;
    font-family: monospace;
    margin-bottom: -20px;
}

.TokenInfo h2 {
    padding-top: 20px;
    font-size: 1.8em;
    z-index: -1;

}

.TokenInfo p {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1.1em;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    letter-spacing: 1px;

}

.TokenInfo p:hover {
    transform: translateY(0px);
    opacity: 1;
}

.TokenInfo a {
    position: relative;
    padding: 8px 20px;
    background: #61dafb;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    padding-bottom: 10px;
}

.TokenomicsHeader {
    font-size: 2.5em;
    color: #61dafb;
    width: 100%;
    alignment: center;
    margin-top: -275px;
    box-sizing: border-box;
}




