.TokenomicsContainer{

    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    box-sizing: border-box;
}

#background-video{

    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    padding: 0;
    position: fixed; /* optional depending on what you want to do in your app */


}

.TokenomicsItem {
    box-sizing: border-box;
}

.PieChart{
    background: transparent;
    width: 30%;
    padding-top: 50px;
    box-sizing: border-box;
    position: relative;
    margin-right: 35px;
}

.TokenInfo {
    box-sizing: border-box;
    height: 800px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 20px;
    margin-top: 100px;
    margin-left: 50px;
    color: black;
    position: absolute;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    width: 35%;
}

.TokenInfo:hover{
    background: linear-gradient(transparent,#e6f3ff, whitesmoke);
    color: black;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 40px #2196f3 ;
}

.TokenInfo h1 {

    padding-top: 20px;
    font-size: 2.5em;
    z-index: -1;
    font-weight: bold;
    color: #476098;
    font-family: monospace;
    margin-bottom: -20px;
}

.TokenInfo h2 {
    padding-top: 20px;
    font-size: 1.8em;
    z-index: -1;

}

.TokenInfo p {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1.1em;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.TokenInfo p:hover {
    transform: translateY(0px);
    opacity: 1;
}

.TokenInfo a {
    position: relative;
    padding: 8px 20px;
    background: #61dafb;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    padding-bottom: 10px;
}

.TokenomicsHeader {
    font-size: 2.5em;
    color: #61dafb;
    width: 100%;
    alignment: center;
    margin-top: -275px;
    box-sizing: border-box;
}




