.StatisticsHeader {
    padding-bottom: 20px;
    font-size: 2.5em;
    color: #61dafb;
    width: 100%;
    alignment: center;
    margin-top: 100px;
    margin-bottom: 200px;

}

.StatisticsContainer {

    display: grid;
    position: relative;
    grid-template-columns: auto auto auto;
    align-items: center;

}

.StatisticsItem {

    position: relative;
    width: 75%;
    height:200px;
    padding-left: 35px;
    padding-right: 35px;
    margin: 50px 50px 500px 50px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);

}



.StatisticsItem h2{
    color: #476098;
    padding-top: 20px;
    font-family: monospace;
}

.StatisticsItem ul {
    color: #11d811;
    padding-top: 20px;
    letter-spacing: 3px;
    font-size: 2em;
    font-weight: bold;
}

.StatisticsItem:hover {

    color: #255784;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3 ;

}